{
    "extends": [
        "airbnb",
        "airbnb-typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "rules": {
        "prefer-template": "error",
        "no-void": "off",
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}